.target_emotion {
    height: 20vh;
}

iframe {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}